SUPABASE_URL=X
SUPABASE_SERVICE_ROLE_KEY=X
APP_NAME=X
APP_VERSION=X
APP_CONTACT_EMAIL=X

TWILIO_ACCOUNT_SID=X
TWILIO_AUTH_TOKEN=X
TWILIO_PHONE_NUMBER=X

MQTT_HOST=X
MQTT_PORT=X
MQTT_TOPIC=X

MQTT_USERNAME=X
MQTT_PASSWORD=X

GROQ_API_KEY=XXXXXXXXX

TIDECHECK_API_KEY=xXXX
CRON_API_KEY=XXXXXXXXX